<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lists Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/_header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/_footer.css" type="text/css" />

  <!-- Temporarily added styling to item submission form from categories -->
  <link rel="stylesheet" href="/styles/categories.css" type="text/css" />
  <link rel="stylesheet" href="/styles/lists.css" type="text/css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- app on page load -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <section><%- include('partials/_header', {user}) %></section>

<% if (user) {%>
  <section>
    <div class="add-new-item">
      <h3>Add new item to your <%= categoryName %> list</h3>
      <form method="POST" action="/lists/<%= categoryName %>" id="form">
        <label for="new-list-item"></label>
        <textarea name="text" id="item-text"></textarea>
        <div>
          <button class="submit-new-item-button" type="submit">Submit Item</button>
        </div>
      </form>
    </div>
  </section>

  <section class="category-box">
    <div class="cat-head">
      <p><%= categoryName %></p>
    </div>
    <article class="category">
      <lo>

        <% for (let item of listItems) { %>
          <!-- dynamic ids cannot start with a number -->
          <li id="itemID<%= item.item_id%>" class='list-item'>

            <span class="item-name">
              <% if (item.completed) { %>
                <p style="text-decoration: line-through"><%= item.item_name %></p>
                <% } else { %>
                  <p><%= item.item_name %>
                  <% if (item.priority) { %>
                    <span class="far fa-star"></span>
                  <% } %>
                </p>
              <% } %>
            </span>

            <div class="select-options">
              <div style="display: flex ; justify-content: center">
                <form action="/lists/priority/<%= item.item_id%>/<%= categoryName %>/<%= item.priority %>" method="POST"><button><i class="far fa-star"></i></button></form>
                <form action="/lists/<%= item.item_id%>/<%= categoryName %>/complete" method="POST"><button><i class="fas fa-check"></i></button></form>
                <div><i class="fas fa-edit"></i></div>
                <form action="/lists/<%= item.item_id%>/<%= categoryName %>/delete" method="POST"><button><i class="fas fa-trash"></i></button></form>
              </div>
              <div class="reassign-options">
                <div style="display: flex ; justify-content: center">
                  <form action="/lists/reassign/eat/<%= item.item_id%>" method="POST"><button><i class="fas fa-utensils"></i></button></form>
                  <form action="/lists/reassign/watch/<%= item.item_id%>" method="POST"><button><i class="fas fa-film"></i></button></form>
                  <form action="/lists/reassign/read/<%= item.item_id%>" method="POST"><button><i class="fas fa-book-open"></i></button></form>
                  <form action="/lists/reassign/buy/<%= item.item_id%>" method="POST"><button><i class="far fa-credit-card"></i></button></form>
                </div>
              </div>
            </div>
          </li>


        <% } %>
      </lo>
    </article>
  </section>
  <% } else { %>
    <h2 class="logged-out-message">Please login to see your lists!</h2>

  <% } %>

  <div>
    <%- include('partials/_footer') %>
  </div>

</body>
</html>
