<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lists Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/categories.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- app on page load -->
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <section><%- include('partials/_header', {user: userID}) %></section>

    <section>
    <div class="add-new-item">
      <h3>Add new item to your <%= categoryName %> list</h3>
      <form method="POST" action="/lists/<%= categoryName %>" id="form">
        <label for="new-list-item"></label>
        <textarea name="text" id="item-text" placeholder="What item would you like to add?"></textarea>
        <div>
      <button class="submit-new-item-button" type="submit">Submit Item</button>
    </div>

  </section>

  <section class="category-box">
    <div class="cat-head">
      <p><%= categoryName %></p>
    </div>
    <article class="category">
      <lo>

        <% for (let item of listItems) { %>
          <!-- dynamic ids cannot start with a number -->
          <li id="itemID<%= item.item_id%>" class='list-item'>
            <span class="item-name">
              <%= item.item_name %>
            </span>
          </li>

          <div class="select-options">
            <form action="/lists/<%= categoryName %>/<%= item.item_id%>/complete" method="POST"><button><i class="fas fa-check"></i></button></form>
            <form action="/lists/<%= categoryName %>/<%= item.item_id%>/edit" method="POST"><button><i class="fas fa-edit"></i></button></form>
            <form action="/lists/<%= categoryName %>/<%= item.item_id%>/delete" method="POST"><button><i class="fas fa-trash"></i></button></form>
          </div>


        <% } %>
      </lo>
    </article>
  </section>
  <div>
    <%- include('partials/_footer') %>
  </div>

</body>
</html>
